<h1>Brief Introduction and Background</h1>

<p>
My name is Dan Cigler and I am a Type1 Diabetic completing this course to fill in the gaps in my knowledge of Ruby on Rails. I am building a 
glucose trend identifier tool to help manage my diabetes.

Instagram > @dancigler, @fullstkdiabetic for information on myself and my diabetes management app.

Thank you!
</p>

<%= link_to '@fullstkdiabetic blog', articles_path %> | <%= link_to 'Home', root_path %>