<div class="center jumbotron">
<h1>dcig's blog</h1>

<%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
<br>

<%= link_to "@fullstkdiabetic background", articles_path, class: "btn btn-danger btn-sm" %>
</div>